* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.first-section h1 {
  font-size: 3rem;
}

.first-section p {
  font-size: 2rem;
  font-weight: 300;
}

section {
  width: 100%;
}

.first-section {
  display: flex;
  align-items: center;
  background-image: url(../img/katarina.jpg);
  background-size: cover;
  background-color: #4682B4;
  background-blend-mode: multiply;
  height: 100vh;
}

.second-section {
  display: flex;
  align-items: center;
  background-image: url(../img/thomas.jpg);
  background-size: cover;
  background-color: #b47846;
  background-blend-mode: multiply;
  height: 100vh;
}

.content {
  color: #FFFFFF;
  padding: 7%;
}

@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
    font-weight: 300;
  }
}

.bold {
  font-weight: bold;
}

.second-section .first-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  width: 50%;
  height: 100vh;
  margin: 0 2%;
}

.linha  {
  height: 30%;
  border-right: 4px solid #FFF;
  border-radius: 10px;
}

.second-section .second-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  width: 50%;
  height: 100vh;
  margin: 0 2%;
}

.second-section h1 {
  font-size: 2.5rem;
  padding-bottom: 2%;
}

.second-section p {
  font-size: 1.2rem;
}

.second-section .fas {
  padding-top: 5%;
  font-size: 2.5rem;
}

.third-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/kobu.jpg);
  background-size: cover;
  background-color: #4682B4;
  background-blend-mode: multiply;
  height: 100vh;
}

.third-section h1, .third-section h2, .third-section p {
  color: #FFF;
}

.third-section h1 {
  font-size: 2.5rem;
  margin-top: 1em;
}

.third-section .logoEdesc {
  margin-top: 8rem;
  padding: 2%;
  display: grid;
  width: 30%;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-template-areas: "logo frase1"
                       "logo frase2";
  border: 2px solid #FFF;
  border-radius: 5%;
}

.logo {
  grid-area: logo;
  width: 10rem;
}

.frase1 {
  margin-top: 3rem;
  grid-area: frase1;
}

.frase2 {
  grid-area: frase2;
}

.third-section .fas {
  margin-top: .5em;
  font-size: 5rem;
  color: #FFF;
}
